body {
    margin: 0;
}

.full-width {
    width: 100%;
}

.table-bg {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/full.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    position: relative;
}

.laptop-wrapper {
    position: absolute;
    bottom: 171px;
    left: calc(50% - 310px);
}

.laptop {
    position: relative;
    width: 580px;
    -webkit-clip-path: polygon(1% 4%, 6% 79%, 23% 99%, 100% 87%, 77% 68%, 71% 1%);
    clip-path: polygon(1% 4%, 6% 79%, 23% 99%, 100% 87%, 77% 68%, 71% 1%);
}

.mic-wrapper {
    position: absolute;
    top: 175px;
    left: calc(50% - 482px);
}

.mic {
    position: relative;
    width: 200px;
    -webkit-clip-path: polygon(34% 3%, 54% 2%, 65% 9%, 71% 20%, 73% 28%, 73% 36%, 82% 38%, 85% 44%, 81% 47%, 78% 54%, 73% 59%, 66% 62%, 69% 67%, 71% 73%, 74% 80%, 81% 84%, 88% 88%, 90% 92%, 78% 95%, 60% 97%, 45% 97%, 28% 96%, 15% 94%, 12% 90%, 20% 85%, 21% 79%, 19% 72%, 17% 64%, 15% 58%, 15% 51%, 14% 42%, 20% 37%, 23% 31%, 21% 25%, 23% 18%, 23% 12%, 25% 7%, 28% 4%);
    clip-path: polygon(34% 3%, 54% 2%, 65% 9%, 71% 20%, 73% 28%, 73% 36%, 82% 38%, 85% 44%, 81% 47%, 78% 54%, 73% 59%, 66% 62%, 69% 67%, 71% 73%, 74% 80%, 81% 84%, 88% 88%, 90% 92%, 78% 95%, 60% 97%, 45% 97%, 28% 96%, 15% 94%, 12% 90%, 20% 85%, 21% 79%, 19% 72%, 17% 64%, 15% 58%, 15% 51%, 14% 42%, 20% 37%, 23% 31%, 21% 25%, 23% 18%, 23% 12%, 25% 7%, 28% 4%);
}

.badge-wrapper {
    position: absolute;
    top: 527px;
    right: calc(50% - 115px);
}

.badge {
    position: relative;
    width: 130px;
    -webkit-clip-path: polygon(68% 78%, 88% 67%, 93% 51%, 85% 35%, 67% 24%, 48% 20%, 29% 21%, 11% 29%, 3% 47%, 9% 64%, 24% 75%, 46% 82%);
    clip-path: polygon(68% 78%, 88% 67%, 93% 51%, 85% 35%, 67% 24%, 48% 20%, 29% 21%, 11% 29%, 3% 47%, 9% 64%, 24% 75%, 46% 82%);
}

.drink-wrapper {
    position: absolute;
    bottom: 250px;
    right: calc(50% - 344px);
}

.drink {
    position: relative;
    width: 210px;
    -webkit-clip-path: polygon(58% 7%, 63% 23%, 63% 37%, 55% 49%, 43% 52%, 43% 58%, 55% 58%, 70% 57%, 89% 58%, 96% 61%, 97% 67%, 95% 75%, 94% 84%, 92% 91%, 82% 95%, 66% 95%, 48% 94%, 41% 91%, 30% 90%, 13% 89%, 7% 86%, 5% 82%, 12% 79%, 24% 78%, 25% 57%, 22% 49%, 10% 44%, 3% 36%, 3% 27%, 5% 19%, 7% 13%, 9% 7%, 16% 4%, 31% 4%, 46% 4%);
    clip-path: polygon(58% 7%, 63% 23%, 63% 37%, 55% 49%, 43% 52%, 43% 58%, 55% 58%, 70% 57%, 89% 58%, 96% 61%, 97% 67%, 95% 75%, 94% 84%, 92% 91%, 82% 95%, 66% 95%, 48% 94%, 41% 91%, 30% 90%, 13% 89%, 7% 86%, 5% 82%, 12% 79%, 24% 78%, 25% 57%, 22% 49%, 10% 44%, 3% 36%, 3% 27%, 5% 19%, 7% 13%, 9% 7%, 16% 4%, 31% 4%, 46% 4%);
}

.food-wrapper {
    position: absolute;
    top: 444px;
    left: calc(50% - -240px);
}

.food {
    position: relative;
    width: 235px;
    -webkit-clip-path: polygon(81% 78%, 93% 69%, 95% 48%, 85% 38%, 76% 29%, 68% 23%, 61% 18%, 50% 22%, 44% 28%, 37% 30%, 29% 29%, 20% 32%, 13% 36%, 5% 43%, 4% 57%, 8% 68%, 20% 76%, 32% 83%, 48% 86%, 63% 84%);
    clip-path: polygon(81% 78%, 93% 69%, 95% 48%, 85% 38%, 76% 29%, 68% 23%, 61% 18%, 50% 22%, 44% 28%, 37% 30%, 29% 29%, 20% 32%, 13% 36%, 5% 43%, 4% 57%, 8% 68%, 20% 76%, 32% 83%, 48% 86%, 63% 84%);
}

.note-wrapper {
    position: absolute;
    top: 542px;
    left: calc(50% - 471px);
}

.note {
    position: relative;
    width: 320px;
    -webkit-clip-path: polygon(66% 81%, 84% 71%, 96% 61%, 97% 48%, 91% 35%, 85% 29%, 73% 25%, 59% 25%, 49% 24%, 42% 20%, 34% 19%, 27% 24%, 20% 26%, 13% 27%, 6% 32%, 2% 42%, 1% 58%, 5% 66%, 43% 80%, 60% 85%);
    clip-path: polygon(66% 81%, 84% 71%, 96% 61%, 97% 48%, 91% 35%, 85% 29%, 73% 25%, 59% 25%, 49% 24%, 42% 20%, 34% 19%, 27% 24%, 20% 26%, 13% 27%, 6% 32%, 2% 42%, 1% 58%, 5% 66%, 43% 80%, 60% 85%);


}

.scale-on-hover {
    transition: transform ease 0.5s;
    cursor: pointer;
}

.scale-on-hover:hover {
    transform: scale(1.05);
}